@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */

  --font-jost: var(--font-jost), sans-serif;
  --font-sans: var(--font-jost), ui-sans-serif, system-ui, sans-serif;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


/* inpur type search er defalut cross icon ta soranor jonno */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}
input[type="search"] {
  appearance: textfield;
}

.wrap-anywhere {
  overflow-wrap: anywhere;
  word-break: break-word;
  hyphens: auto;
}


/* Default এ scrollbar লুকানো */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

/* Hover বা scroll করলে scrollbar দেখাবে - absolute position এ */
.custom-scrollbar:hover::-webkit-scrollbar-thumb,
.custom-scrollbar:active::-webkit-scrollbar-thumb {
  background: #888;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox এর জন্য */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.custom-scrollbar:hover {
  scrollbar-color: #888 transparent;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jost);
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}